# The project is currently being developed in the solo style
# (Specifically, the coding and repo maintaince). Here I 
# defined myself as the owner of the whole project. Contact
# me if you would like to get involved into project's organization
* @serdekh

# Honorable mention for the Senior DevOps mentor: @fecton
# He has been ensuring that the project gets everything done
# by enforcing the specific time constraints for the tasks
# using the Jira project-management software as well as 
# provided suggestions on how to distribute the work to
# avoid bad development experience such as: thorough 
# investigation before the actual implementation, not
# getting involved into refactoring too much, using more
# tooling like AI analyzers to speed up the processes.